In [1]:
import pandas as pd

In [5]:
import pandas as pd

data = [
    ("Aron", "F", "2020-01-01", 17),
    ("Alice", "F", "2020-01-07", 23),
    ("Bajrang", "M", "2020-01-07", 7),
    ("Khali", "M", "2019-12-25", 11),
    ("Slaman", "M", "2019-12-30", 13),
    ("Joe", "M", "2019-12-31", 3),
    ("Jose", "M", "2019-12-18", 2),
    ("Priya", "F", "2019-12-31", 23),
    ("Priyanka", "F", "2019-12-30", 17)
]

columns = ["player_name", "gender", "day", "score_points"]
scores_df = pd.DataFrame(data, columns=columns)
scores_df["day"] = pd.to_datetime(scores_df["day"])

In [ ]:
scores_df=scores_df.sort_values(['gender','day'])
scores_df

  player_name gender        day  score_points
8    Priyanka      F 2019-12-30            17
7       Priya      F 2019-12-31            23
0        Aron      F 2020-01-01            17
1       Alice      F 2020-01-07            23
6        Jose      M 2019-12-18             2
3       Khali      M 2019-12-25            11
4      Slaman      M 2019-12-30            13
5         Joe      M 2019-12-31             3
2     Bajrang      M 2020-01-07             7

In [8]:
scores_df['total']=scores_df.groupby('gender')['score_points'].cumsum()

In [10]:
scores_df[['gender','day','total']]

  gender        day  total
8      F 2019-12-30     17
7      F 2019-12-31     40
0      F 2020-01-01     57
1      F 2020-01-07     80
6      M 2019-12-18      2
3      M 2019-12-25     13
4      M 2019-12-30     26
5      M 2019-12-31     29
2      M 2020-01-07     36